# Dependency directories
node_modules/
jspm_packages/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.production
.env.development
.env.local

# Project Uploads (preserve folder but ignore uploaded files)
uploads/*
!uploads/.gitkeep

# System files
.DS_Store
Thumbs.db
